@import "../../../variables.scss";



.comment{

    &Heading{
        
        display: flex;
        align-items: center;
        gap: 8px;
    
        margin-bottom: 5px;
    
        span{
            font-weight: $font-weight-small;
            font-size: $text-font-size-minimal;
            color: $grey;
        }
    }

    .text{
        font-family: $font-family-custom;
        font-weight: $font-weight-small;
        font-size: $text-font-size-small;
        line-height: 18px;
    
        white-space: pre-line;
        word-break: break-all;
    
        color: $grey-dark;
    }
}

