@import '../../../variables.scss';

.container {

    width: 150px;

    @media #{$screen-desktop-large}{
        width: 110px;
    }

    @media #{$screen-desktop}{
        width: 35%;
    }

    .status{
        font-size: $text-font-size-medium;

        margin-bottom: 30px;

        color: $purple-dull;

        @media #{$screen-desktop-large}{
            font-size: $text-font-size-small;
            margin-bottom: 20px;
        }

        @media #{$screen-desktop}{
            font-size: $text-font-size-medium;
            text-align: center;
        }

        @media #{$screen-tablet}{
            font-size: $text-font-size-small;
        }

        @media #{$screen-mobile}{
            font-size: $text-font-size-minimal;
            margin-bottom: 10px;
        }

    }
    ul{
        height: 30vh;
    }
}