@import "../../variables.scss";

.container{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
    max-width: 600px;
    width: 100%;
    padding: 50px;
    border-radius: 10px;
    background-color: $block-color;
    h1{
        text-align: center;
        color: $main-color;
        margin-bottom: 85px;
        font-size: 42px;
        font-weight: 600;
    }
}

form{
    display: flex;
    flex-direction: column;

    .formGroup{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;

        label{
            font-size: 20px;
            margin-right: 25px;
            font-weight: 500;
            color: $text-color;
        }
        input{
            font-size: 20px;
            width: 100%;
            border: none;
            padding: 20px;
            border-radius: 10px;
            outline-color: $main-color;
        }
    }
    .formGroup + .formGroup {
        margin-top: 40px;
    }

    .fields{
        margin-bottom: 85px;
    }

    .submitBtn{
        @include button;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .registerBtn {
        margin: 0 auto;
        width: fit-content;
        cursor: pointer;
        border: none;
        background: none;
        font-weight: 600;
        font-size: 16px;
        color: #A5A5A5;
    }
}