@import '../../variables.scss';

.progress{
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media #{$screen-desktop}{
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        @media #{$screen-tablet}{
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media #{$screen-mobile}{
            flex-direction: column;
            gap: 5px;
        }

        li{
            font-size: $text-font-size-huge;

            display: flex;
            flex-direction: column;
            gap: 10px;

            color: $main-color;
            text-align: center;

            @media #{$screen-desktop-large}{
                font-size: $text-font-size-large;
            }

            @media #{$screen-desktop}{
                font-size: $text-font-size-small;

                flex-direction: row;
                align-items: center;
                gap: 3px;
            }

            @media #{$screen-tablet}{
                font-size: $text-font-size-large;
                gap: 5px;
                align-items: flex-end;
            }

            span{
                font-weight: $font-weight-small;
                font-size: $text-font-size-small;
                color: $block-color;

                @media #{$screen-desktop-large}{
                    font-size: $text-font-size-minimal;
                }

                @media #{$screen-tablet}{
                    font-size: $text-font-size-small;
                    color: $grey;
                }
            }
        }
    }
}