@import '../../variables.scss';

.container{
    @include popup;



    .settings{
        display: flex;
        align-items:center;
        p{
            margin-right: 20px;
            font-size: 28px;
            color: $main-color;
        }
        input{
            max-width: 400px;
            width: 100%;
            background-color: $block-color;
            border-radius: 10px;
            padding: 15px;
            border: none;
            outline-color: $main-color;
            font-size: 18px
        }
        select{
            padding: 5px 15px;
            @include selections;
            border-radius: 10px;
            max-width: 140px;
            width: 100%;
        }
        span{
            &::before{
                content: '';
                display: inline-block;
                width: 30px;
                height: 30px;
            }
        }
    
        .work{
            background-color: #6CCCA9;
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
        }
        .study{
            background-color: #BF6CCC;
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
        }
        .hobby{
            background-color: #6C76CC;
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
        }
        .other{
            background-color: #CC6C6C;
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
        }
    }
    .settings+.settings{
        margin-top: 55px;
    }

    .create{
        @include button;
        margin: 70px auto 0 auto;
    }
    .close{
        cursor: pointer;
        background: none;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .resetBlock{
        position: relative;
        padding: 20px 0;
        display: flex;
        align-items: center;

        .error{
            position: absolute;
            bottom: 10px;
            font-weight: 500;
            color: red;
        }
        p{
            font-weight: 500;
            margin-right: 10px;
        }
        
        div{
            display: flex;
            padding: 7px 10px;
            background-color: $block-color;
            border-radius: 10px;



            label{
                cursor: pointer;

                span{
                    color: $main-color;
                    display: block;
                    padding: 12px;
                    border-radius: 10px;
                    background-color: #fff;
                }
    
                input{
                    display: none;
                }
                input:checked + span{
                    color: #fff;
                    background: $main-color;
                }
            }

            label+label{
                margin-left: 5px;
            }
        }
    }
}
