@import "../../variables.scss";


.header{
    font-weight: $font-weight-large;
    font-size: $title-font-size-large;

    display: flex;
    align-items: center;

    margin-bottom: 60px;

    color: $text-color;

    @media #{$screen-tablet}{
        font-size: $title-font-size-medium;
        margin-bottom: 50px;
    }

    h1{
        margin-right: 15px;
    }
}
