@import "../../variables.scss";

.container{
    @include container;
    display: flex;
    
    width: 100%;

    @media #{$screen-tablet}{
        flex-direction: column;
    }

}
.wrapper{
    @include wrapper;
}

.settings{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;

    button{
        cursor: pointer;

        background: none;
        &:hover{
            opacity: $opacity-weak;
        }
    }

    .types{
        display: flex;
        align-items: center;
        p{
            font-weight: $font-weight-medium;
            font-size: $text-font-size-huge;

            margin-right: 10px;

            color: $main-color;
        }
    }

}