@import "../../../variables.scss";

.list{
    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: 20px;

    padding: 20px 15px;

    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;

    cursor: pointer;

    border-radius: $border-radius-medium;
    background-color: $block-color;

    @media #{$screen-desktop-large}{
        padding: 20px 10px;
        margin-bottom: 10px;
    }

    @media #{$screen-mobile}{
        padding: 10px 5px;
        margin-bottom: 5px;
    }

    p{
        font-size: $text-font-size-minimal;
        font-weight: $font-weight-small;

        margin: 0 auto;

        color: $text-color;

        @media #{$screen-desktop}{
            font-size: $text-font-size-small;
        }

        @media #{$screen-tablet}{
            font-size: $text-font-size-minimal;
        }

    }


    &:hover{
        opacity: $opacity-weak;
    }
}